{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Settings</h1>
  <hr />
  <div class="row">
    <div class="col">
      <h3>General</h3>
      <a href="#" class="btn btn-primary"
        ><i class="fa fa-list"></i> View Departments</a
      >
      <a href="#" class="btn btn-primary"
        ><i class="fa fa-plus"></i> Add Department</a
      >
    </div>
    <div class="col">
      <h3>Users</h3>
      <a href="#" class="btn btn-primary"
        ><i class="fa fa-list"></i> View Users</a
      >
      <a href="#" class="btn btn-primary"
        ><i class="fa fa-plus"></i> Add Users</a
      >
      <a href="#" class="btn btn-primary"
        ><i class="fa fa-upload"></i> Bulk Add Users</a
      >
    </div>
  </div>
</div>
{% endblock content %}
