{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Users</h1>
  <hr />
  <div class="row mt-4 mb-4">
    <div>
      <a href="{{ url_for('users.add_user') }}" class="btn btn-primary"
        ><i class="fa fa-plus"></i> Add User</a
      >
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Department</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>
            {% if user.department_id %} {{ user.name }} {% else %} {% endif %}
          </td>
          <td>{{ user.status }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="actions">
              <a
                href="{{ url_for('users.profile', user_id=user.id)}}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-eye"></i> View</a
              >
              <form
                action="{{ url_for('users.force_password_change', user_id=user.id) }}"
                method="post"
              >
                <input
                  class="btn btn-outline-primary btn-sm"
                  type="submit"
                  value="Force Password Change"
                />
              </form>
              <a
                href="{{ url_for('users.change_status', user_id=user.id) }}"
                class="btn btn-outline-primary btn-sm"
                ><i class="fa fa-right-left"></i> Change Status</a
              >
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
