<!DOCTYPE html>
<html lang="en" , dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicons/site.webmanifest') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicons/favicon.ico') }}"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/fontawesome/css/brands.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/fontawesome/css/solid.min.css') }}"
    />
    <!-- Select2 CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/select2/css/select2.css') }}"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <main>
        <!--Start Flash-->
        {% with messages=get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="row">
          <div
            class="alert alert-{{ category }} alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <!--End Flash-->
        {% block content %} {% endblock content %}
      </main>
    </div>
    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Select2 JS -->
    <script src="{{ url_for('static', filename='plugins/select2/js/select2.full.js') }}"></script>
    <!-- Custom JS-->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
