{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Create Kudo</h1>
  <!-- Start Add Kudo -->
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="row mb-3">
      <div class="col">
        {{ form.receiving_user_id.label }} {{ form.receiving_user_id }}
      </div>
      <div class="col">
        {{ form.kudo_message.label }} {{ form.kudo_message }}
      </div>
    </div>
    {{ form.submit() }} {{ form.cancel() }}
  </form>
  <!-- End Add Kudo -->
</div>
{% endblock content %}
