{% extends "base.html" %} {% block content %}
<h1>Kudos</h1>
<hr />
<div class="row mt-4 mb-4">
  <div>
    <a href="{{ url_for('kudos.create_kudo') }}" class="btn btn-primary"
      ><i class="fa fa-plus"></i> Create Kudo</a
    >
  </div>
</div>
<!-- Start Dashboards -->
<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Kudos (Last 120 Days)</h5>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="kudosCount"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Top 5 Submitters (Last 120 Days)</h5>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="kudosCreator"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Top 5 Kudo Receivers (Last 120 Days)</h5>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="kudosReceiver"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Dashboards -->
<!-- Start Kudos -->
<div class="row">
  <strong>WILL UPDATE THIS DESIGN ASAP</strong>
  {% for kudo in kudos %} {{ kudo.creating_user_firstname }} {{
  kudo.creating_user_lastname }} ({{ kudo.creating_user_department_name }}) gave
  {{ kudo.receiving_user_firstname }} {{ kudo.receiving_user_lastname }} ({{
  kudo.receiving_user_department_name }}) a kudo on {{ kudo.created_date }}!
  <br />
  {{ kudo.kudo_message }} {% if kudo.meme_url %}
  <img src="{{ kudo.meme_url }}" style="max-width: 50%" />
  {% endif %}
  <br />
  <br />
  {% endfor %}
</div>
<!-- End Kudos -->
<!-- Start Graphs -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
<script type="text/javascript">
  /* Dashboard - Count */
  var gKudosLabels = {{ kudos_graph_labels | tojson }};
  var gKudosData = {{ kudos_graph_data | tojson }};

  var ctx = document.getElementById("kudosCount").getContext("2d");
  var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: gKudosLabels,
        datasets: [
            {
            label: "Kudos",
            data: gKudosData,
            borderWidth: 2,
            backgroundColor: "#566c95",
            borderColor: "#566c95",
            pointBackgroundColor: "#ffffff",
            },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
      },
    });

  /* Dashboard - Top 5 Receivers */
  var gKReceiverLabels = {{ kudos_receiver_labels | tojson }};
  var gKReceiverData = {{ kudos_receiver_data | tojson }};

  var ctx2 = document.getElementById("kudosReceiver").getContext("2d");
  var myChart2 = new Chart(ctx2, {
      type: "bar",
      data: {
        labels: gKReceiverLabels,
        datasets: [
            {
            label: "Receivers",
            data: gKReceiverData,
            borderWidth: 2,
            backgroundColor: "#566c95",
            borderColor: "#566c95",
            pointBackgroundColor: "#ffffff",
            },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
      },
    });

    /* Dashboard - Top 5 Creators */
  var gKCreatorLabels = {{ kudos_creator_labels | tojson }};
  var gKCreatorData = {{ kudos_creator_data | tojson }};

  var ctx2 = document.getElementById("kudosCreator").getContext("2d");
  var myChart2 = new Chart(ctx2, {
      type: "bar",
      data: {
        labels: gKCreatorLabels,
        datasets: [
            {
            label: "Receivers",
            data: gKCreatorData,
            borderWidth: 2,
            backgroundColor: "#566c95",
            borderColor: "#566c95",
            pointBackgroundColor: "#ffffff",
            },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          },
        },
      },
    });
</script>
<!-- End Graphs -->

{% endblock content %}
