:root {
    --clr-text: #111312;
    --clr-background: #fcfdfc;
    --clr-primary: #2f3733;
    --clr-secondary: #ffffff;
    --clr-accent: #242926;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--clr-text);
  background-color: var(--clr-background);
}

.bg-custom-primary {
  background-color: var(--clr-background);
  color: var(--clr-text);
}

.btn {
  border: none;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.card-header {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}